<!DOCTYPE html>
<html lang="en">
<html>
        <head>
            <title>Victor´s blog</title>
        </head>
        <body>
             <div>
                 <h1><a href="/">Victor´s Blog</a></h1>
             </div>

             <div> {{ posts }} </div>

            {% for Post in posts %}
                <div>
                    <p>published: {{ Post.published_date }}</p>
                    <h1><a href="/">{{ Post.title }}</a></h1>
                    <p>{{ Post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </body>
</html>








